input.ng-invalid.ng-dirty {
    border:1px solid hsl(9, 94%, 68%);
    border-radius: 2px;
    /* box-shadow: 1px 1px 5px 1px red; */
}

.card1{
    margin:1rem 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    border-radius: .8rem;
}
.err{
    text-align: right;
}

.wrapper{
    width: 70%;
    
}
input{
    width:100%;
    border: 1px solid;
    border-radius:0.2rem;
    margin-bottom: .3rem;
}

.btn{
    margin: 0.5rem 0;   
}

.signin{
    display: inline;
    text-align: center;
    background-color: rgba(194, 227, 251, 0.451);
    border-radius: 2rem;
    padding: .5rem 1rem;
    margin: .5rem;
}
.booksimg{
    width:60%;
    padding-top: 100px;
}
.img1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signincard{
    align-self: center;
    padding: 6% 6%;
    margin-top: 4%;
}
.img2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.readingimg{
    width:60%;
    padding: 70px 0;
}
.tag{
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-left: 11.5%;
    padding-bottom: 3%;
}
.lines{
    font-weight: bold;
} 