
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6rem;
    flex-wrap: wrap;
}
.card1{
    padding: .5rem;
}
.title{
   /* flex:1; */
   padding-left: 1rem;
   color: rgb(80, 80, 251);
   font-weight: bold;
}

.navLinks{
    min-height: 2rem;
    padding:0 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
.active{
    font-weight: bold;
}

.signout{
    cursor:pointer;
}
i{
    font-size:2rem;
}