<nav class="card1">    
    <h3 class="title">BooksOcean</h3>
    <div class="navLinks">
        <a *ngIf="this.auth.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="">Home</a>
        <a *ngIf="this.auth.isLoggedIn()" routerLinkActive="active" routerLink="books/add">Add</a>
        <a *ngIf="!this.auth.isLoggedIn()" routerLinkActive="active" routerLink="signin">signin</a>
        <a *ngIf="!this.auth.isLoggedIn()" routerLinkActive="active" routerLink="signup">signup</a>
        <a *ngIf="this.auth.isLoggedIn()" routerLinkActive="active" routerLink="users/{{user._id}}">user</a>
        <a class="signout" *ngIf="this.auth.isLoggedIn()" routerLinkActive="active"  (click)="onLogOut()">signout</a>
    </div>
</nav>