input.ng-invalid.ng-dirty {
    border:1px solid hsl(9, 94%, 68%);
    border-radius: 2px;
    /* box-shadow: 1px 1px 5px 1px red; */
}

.err{
    text-align: right;
}

label{
    display: block;
}
.wrapper{
    width: 50%;
    
}
input{
    width:100%;
    border-radius:0.2rem;
    margin-bottom: .3rem;
}

.card1{
    margin:1rem 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.btn{
    margin: 0.5rem 0;  
    width: 100% ;

}
