/* You can add global styles to this file, and also import other style files */
.card1{
    padding: 1rem;
    border: 1px solid rgba(144, 144, 144, 0.608);
    border-radius: .3rem;
    box-shadow: 1px 2px 5px 1px rgba(128, 128, 128, 0.333)  ;
}

.err{
    color: rgb(250, 80, 80);
    padding: 2px;
}


/* body{
    background-color: rgb(0, 0, 0) !important;
    color: rgb(207, 207, 207) !important;
} 
.card{
    background-color: rgba(0, 0, 0, 0.72);

}
.card:hover{
    background-color: rgba(0, 0, 0, 0.72);
    box-shadow: 1px 1px 100px 3px rgb(5, 209, 250);
} */

  