
.card{
    margin: 1rem 0;
    text-align: center;
    display: flex  ;
    flex-direction: column ;
    justify-content: space-between ;
}
img{
    width:100%;
    border-radius: 0.2rem;
    
}
.title{
    padding: 2rem 0 0.5rem 0;
}
.group{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
.author{
    font-weight: bold;
}
.details{
    width: 100%;
    background-color: rgba(161, 161, 255, 0.43);
    color: black;
    border: 0 ;
    align-self: flex-end;
}
.btn:hover{
    background-color: rgba(146, 146, 255, 0.507);
}

